<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>tplay_main</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <script src="__PUBLIC__/echarts/echarts.min.js"></script>
  <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all">
  <link rel="stylesheet" href="__CSS__/admin-1.css" media="all">
<body class="layui-layout-body" style="overflow-y:visible;">
<div class="tplay-body-div">
  <div class="layui-card-header">最新数据（当日数据仅供参考，请以隔天数据为准）</div>
    <div class="layui-card-body">
       <form class="layui-form serch" action="{:url('dsp/main/index')}" method="post" id="fofo">
          
        
      <div class="layui-carousel layadmin-backlog"  lay-indicator="inside" lay-arrow="none" style="width: 100%;margin-left: 50px; margin-bottom: 50px;">

          <ul class="layui-row layui-col-space10 layui-this" style="height: 100px;">
            <li class="layui-col-xs6" style="width: 20%;">
              <a lay-href="" class="layadmin-backlog-body">
                <h3>今日花费</h3>
                <p><cite>{empty name="$list.today_cost"}0{else /}{$list.today_cost}{/empty}</cite></p>
              </a>
            </li>
 
            <li class="layui-col-xs6" style="width: 20%;">
              <a lay-href="" class="layadmin-backlog-body">
                <h3>现金账户</h3>
                <p><cite>{empty name="$list.money"}0{else /}{$list.money}{/empty}</cite></p>
              </a>
            </li>
 
            <li class="layui-col-xs6" style="width: 20%;">
              <a lay-href="" class="layadmin-backlog-body">
                <h3>虚拟账户</h3>
                <p><cite>{empty name="$list.vir_money"}0{else /}{$list.vir_money}{/empty}</cite></p>
              </a>
            </li>

            <li class="layui-col-xs6" style="width: 20%;">
              <a lay-href="" class="layadmin-backlog-body">
                <h3>当前投放广告数</h3>
                <p><cite>{empty name="$list.now_ad"}0{else /}{$list.now_ad}{/empty}</cite></p>
              </a>
            </li>
          </ul>

    </div>
    <div class="layui-form-item" style="margin-left: 50px;">
      <div class="layui-input-inline" style="width:400px;">
        <a href="javascript:void(0)" class="layui-btn tday">今日</a>
        <a href="javascript:void(0)" class="layui-btn yday">昨日</a>
        <a href="javascript:void(0)" class="layui-btn sday">最近七日</a>
        <a href="javascript:void(0)" class="layui-btn lday">最近30天</a>
      </div>
      <input type="hidden" name="tday" value="0">
      <input type="hidden" name="yday" value="0">
      <input type="hidden" name="sday" value="0">
      <input type="hidden" name="lday" value="0">

      <div class="layui-input-inline">
         <input type="text" class="layui-input" id="test6" placeholder=" - " name="times">
      </div>
      <div class="layui-input-inline" style="margin-right: 500px;">
          <select name="chart" lay-filter="fifi">
              <option value="1"  {if condition="$chart eq 1"}selected{/if}>曝光量</option>
              <option value="2"  {if condition="$chart eq 2"}selected{/if}>点击量</option>
              <option value="3"  {if condition="$chart eq 3"}selected{/if}>点击率</option>
              <option value="4"  {if condition="$chart eq 4"}selected{/if}>点击均价</option>
          </select>
      </div>
    </div>
    <div class="layui-card-body" id="main" style="height: 450px;width: 100%;"></div>
  </form>
{include file="public/foot"}
</div>
</div>
<script>
        layui.use(['laydate','table'], function(){
          var laydate = layui.laydate;
          //执行一个laydate实例
          laydate.render({
            elem: '#test6'
            ,range: true
            ,value :[{$date1}]
            ,done: function(value, date){
              $('#test6').val(value);
              $('#fofo').submit();
            }
          });
        });
</script> 
<script type="text/javascript">
 
var myChart = echarts.init(document.getElementById('main'));
option = {
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:[]
    },
    toolbox: {
        show : true,
        left: 'center',
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {show: true},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            boundaryGap : true,
            data : [{$line.date}]
        }
    ],
    yAxis : [
        {
            name : {$line.title},
            type : 'value',
        }
    ],
    series : [
        {
            name:{$line.title},
            type:'line',
            stack: '总量',
            data:[{$line.data}]
        }
    ]
};
myChart.setOption(option);
</script>
<script type="text/javascript">
    $('.tday').click(function(){
      $('input[name=lday]').val(0);
      $('input[name=sday]').val(0);
      $('input[name=yday]').val(0);
      $('input[name=tday]').val(1);
      $('#fofo').submit();
    })
    $('.yday').click(function(){
      $('input[name=lday]').val(0);
      $('input[name=sday]').val(0);
      $('input[name=yday]').val(1);
      $('input[name=tday]').val(0);
      $('#fofo').submit();
    })
    $('.sday').click(function(){
      $('input[name=lday]').val(0);
      $('input[name=sday]').val(1);
      $('input[name=yday]').val(0);
      $('input[name=tday]').val(0);
      $('#fofo').submit();
    })
    $('.lday').click(function(){
      $('input[name=lday]').val(1);
      $('input[name=sday]').val(0);
      $('input[name=yday]').val(0);
      $('input[name=tday]').val(0);
      $('#fofo').submit();
    })
    layui.use(['layer', 'form'], function(){
      var layer = layui.layer
      form = layui.form;
      form.on('select(fifi)', function(data){
         fofo.submit();     
       });
}); 
    </script>
</body>
</html>