<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>旗鱼广告</title>
<!--bootstarp-css-->
<link href="__CSS__/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--/bootstarp-css -->
<!--css-->
<link rel="stylesheet" href="__CSS__/style.css" type="text/css" media="all" />
<!--/css-->
<!--fonts-->
<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,400italic,700italic' rel='stylesheet' type='text/css'>
<script src="__JS__/jquery.min.js"></script>
<!--/js-->
 <!---- start-smoth-scrolling---->
<script type="text/javascript" src="__JS__/move-top.js"></script>
<script type="text/javascript" src="__JS__/easing.js"></script>
</head>
<body>

<!--Header-->
<div class="header">
    <div class="higher">
        <div class="container">
            <div class="header-info">
                <div class="logo">
                    <h1><span><img src="__IMAGES__/logo.png" alt="" style="height: 61px;width: 509px;"></span></h1>
                </div>
                <div class="header-right">
                    <div class="navigation">
                        <ul style="margin-top: 31px;">
                            <li><a class="scroll" href="{:url('index/index/index')}" title="HOME"><span style="font-size: 16px;">首页</span></a></li>
                            <li><a class="scroll" href="{:url('index/index/advertisement')}" title="PRICING"><span style="font-size: 16px;">广告投放</span></a></li>
                            <li><a class="scroll" href="{:url('index/index/flow')}" title="FAQ"><span style="font-size: 16px;">流量变现</span></a></li>
                            <li><a class="scroll" href="{:url('ssp/index/index')}" title="login"><span style="font-size: 16px;">登录注册</span></a></li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="vivamus" style="text-align: center;color: #ffffff;">
        <p style="font-size: 50px;padding: 0;margin-top: 150px;">一站式流量服务，小程序变现优选</p>
        <span style="font-size: 17px;">通过高质量的海量广告资源，以及精细化的资源管理，<br>为流量主实现高额的变现收益</span>
    </div>
</div>
<!--/header-->

<div  class="pricing" style="margin-top: 0px; height: 550px; width:100%; background-image: url('__IMAGES__/flow/two.png');">
    <div style="padding-top: 54px;">
        <p style="font-size: 40px;">产品优势</p>
        <span style="font-size: 21px;">高额收益</span>
    </div>
</div>

<div class="pricing" style="margin-top: 0px; height: 500px;">
    <div style="height: 50px; padding-top: 50px;">
        <p style="font-size: 40px; ">结账及时</p>
    </div>
    <h1><span><img src="__IMAGES__/flow/three.png" alt="" style="height: 400px; padding-bottom: 100px;"></span></h1>
</div>

<div  class="pricing" style="margin-top: 0px; height: 730px; width:100%; background-image: url('__IMAGES__/flow/four.png');">
    <div style="padding-top: 50px;">
        <p style="font-size: 50px;">丰富的小程序广告主资源</p>
        <span style="font-size: 24px;">长期稳定广告主，填充率有保证</span>
    </div>
</div>

<div class="pricing" style="margin-top: -50px; height: 450px;">
    <div style="height: 50px; padding-top: 50px;"><br><br>
        <p style="font-size: 50px; color: #0aaae3;">流量变身，仅需4步</p>
    </div>
    <h1><span><img src="__IMAGES__/flow/five.png" alt="" style="height: 500px; padding-bottom: 100px;"></span></h1>
</div>

<!--/footer-->
<div class="footer">
    <div class="container">
        <div class="footer-nav" style="text-align: left;">
            <div style="display: inline-block;height: 200px;position:relative; margin-left: 150px; margin-right: 206px;">
                <p style="color: #fff;font-size: 25px;">联系方式</p>
                <p style="color: #fff;font-size: 16.67px;font-weight: 0px;margin-top: 29px;">服务热线</p>
                <p style="color: #0aaae3;font-size: 16.67px; margin-top: 27px;">021-3230-9391-826</p>
            </div>

            <div style="display: inline-block;text-align: left;height: 200px;position:absolute;">
                <p style="color: #fff;font-size: 25px;margin-top: 5px; margin-bottom: 32px;">合作媒体</p>
                <img src="__IMAGES__/media_2.png" alt="" style="margin-right: 46px;height: 50px;">
                <img src="__IMAGES__/media_3.png" alt="" style="margin-right: 47px;height: 50px;">
                <img src="__IMAGES__/media_1.png" alt="" style="height: 50px;">
            </div>
        </div>
        <div class="copy-rights" style="height: 50px; width: 100%;">
            <p style="font-size: 16.67px; color:  #CCCCCC;"> 2018@xmadx.com 北京阿拉丁未来科技有限责任公司版权所有 xxxxx</p>
        </div>
    </div>
</div>
<!--/footer-->
</body>
</html>